@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
  margin: 0;

  font-family: 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 479px) {
  .title {
    font-size: 4rem;
  }

  .characters {
    flex-direction: row;
  }

  .name {
    font-size: 2rem;
  }
  .species {
    font-size: 1.3rem;
  }
  .status {
    font-size: 1rem;
  }
  .container {
    width: 100%;
  }
  .box {
    width: 60%;
  }
}

